<!-- Custom cursor followers; only displayed for fine pointers under html.anim (see global.css) -->
<div
  id="cursor-ring"
  class="pointer-events-none fixed top-0 left-0 z-[90] h-9 w-9 mt-[-18px] ml-[-18px] rounded-full border border-gold/70 opacity-0"
></div>
<div
  id="cursor-dot"
  class="pointer-events-none fixed top-0 left-0 z-[90] h-1.5 w-1.5 mt-[-3px] ml-[-3px] rounded-full bg-gold opacity-0"
></div>
